{
    "debug": 1,
    "role": "client_mute",
    "callsign": "KJ6DZB-10",
    "strict_gatekeeper": {
        "enabled": false,
        "gateway_callsign": "KJ6DZB",
        "allowed_callsigns": []
    },
    "meshtastic": {
        "address": "192.168.1.100"
    },
    "meship": {},
    "aprs": {
        "enabled": false,
        "callsign": "KJ6DZB-10",
        "default_group": "APRSgroup1",
        "inline_max_members": 10,
        "backends":